body {
  margin: 0;
  font: 400 1em/1.5 "Neuton", serif;
  color: #fff;              /* texto blanco para que contraste */
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.subtitulo {
  text-align: left;
  padding-left: 15px;
}

.parrafos{
    text-align: left;
    padding-left: 25px;
    padding-right: 15px;
}

.pie{
    text-align: left;
    
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #2b3a49;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
